language: python

addons:
  apt:
    packages:
      - gfortran  # scipy
      - libblas-dev  # scipy
      - liblapack-dev  # scipy
      - swig  # m2crypto

matrix:
  include:
    - python: 2.6
    - python: 2.7
      env: PRE=""
    - python: 2.7
      env: PRE="--pre"
    - python: 3.5
  allow_failures:
    - python: 2.7
      env: PRE="--pre"
    - python: 3.5

before_install:
  - pip install -q --upgrade pip
  - pip install ${PRE} -r requirements.txt

install:
  - pip install .

script:
  - coverage run --source=gwdetchar --omit="gwdetchar/_version.py" ./setup.py test
  - .travis/test-exe.sh gwdetchar-software-saturations --help
  - .travis/test-exe.sh gwdetchar-scattering --help
  - .travis/test-exe.sh gwdetchar-overflow --help

cache:
  apt: true
  pip: true
