language: minimal

os: linux

matrix:
  fast_finish: true

  include:
    # conda builds
    - name: "conda:3.6"
      env: PYTHON_VERSION="3.6"
    - name: "conda:3.7"
      env: PYTHON_VERSION="3.7"
    - name: "conda:3.8"
      env: PYTHON_VERSION="3.8"

before_install:
  - curl -o miniconda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash miniconda.sh -b -p ${HOME}/miniconda
  - source "${HOME}/miniconda/etc/profile.d/conda.sh"
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - travis_retry conda update --quiet --yes conda
  # Useful for debugging any issues with conda
  - conda info --all

install:
  # create a conda environment
  - travis_retry conda create --quiet --yes --name gwdetcharci python=${PYTHON_VERSION} pip setuptools
  - travis_retry conda activate gwdetcharci
  - travis_retry python ./ci/parse-conda-requirements.py requirements.txt -o conda-reqs.txt
  - travis_retry conda install --quiet --yes --update-all --name gwdetcharci --file conda-reqs.txt
  - rm -f conda-reqs.txt  # clean up
  # install this version
  # note: need --editable for coverage with `which ...` to work
  - python -m pip install --editable .

script:
  - python -m flake8 . bin/*
  - python -m pytest --verbose --cov --pyargs gwdetchar
  - bash ci/test-bin.sh

after_success:
  - travis_retry conda install --quiet --yes --name gwdetcharci codecov
  - python -m coverage report
  - python -m codecov --flags $(uname) python${PYTHON_VERSION/./}

before_cache:
  - travis_retry conda clean --quiet --yes --all
  - rm -f $HOME/.cache/pip/log/debug.log
cache:
  pip: true
