language: python

addons:
  apt:
    sources:
      - sourceline: deb http://software.ligo.org/lscsoft/debian wheezy contrib
        key_url: http://software.ligo.org/keys/deb/lscsoft.key
      - sourceline: deb-src http://software.ligo.org/lscsoft/debian wheezy contrib
        key_url: http://software.ligo.org/keys/deb/lscsoft.key
    packages:
      # lal dependencies
      - pkg-config
      - zlib1g-dev
      - libgsl0-dev
      - swig
      - bc
      - libfftw3-dev
      # other dependencies
      - gfortran  # scipy
      - libblas-dev  # scipy
      - liblapack-dev  # scipy

python:
  - '2.6'
  - '2.7'
  - '3.5'

env:
  global:
    - LAL_VERSION="6.18.0"
  matrix:
    - PIP_FLAGS="--quiet --pre"
    - PIP_FLAGS="--quiet"

matrix:
  exclude:
    - python: '2.6'
      env: PIP_FLAGS="--quiet --pre"
  allow_failures:
    - python: '2.6'
    - python: '3.5'
  fast_finish: true

before_install:
  - pip install -q --upgrade pip
  # need to install astropy 1.1 specifically for py26
  - if [[ ${TRAVIS_PYTHON_VERSION} == '2.6' ]]; then pip install "astropy==1.1"; fi
  - pip install ${PIP_FLAGS} -r requirements.txt
  - .travis/build-lal.sh
  - pip install coveralls unittest2 pytest

install:
  - pip install .

script:
  - coverage run --source=gwdetchar --omit="gwdetchar/_version.py" ./setup.py test
  - .travis/test-exe.sh gwdetchar-software-saturations --help
  - .travis/test-exe.sh gwdetchar-scattering --help
  - .travis/test-exe.sh gwdetchar-overflow --help

after_success:
  - coveralls

cache:
  apt: true
  pip: true
  directories:
    - lal-${LAL_VERSION}
