# development
astropy >= 1.2
beautifulsoup4
dqsegdb
gwdatafind
gwpy >= 0.13.0
gwtrigfind
lalsuite
lscsoft-glue >= 2.0.0
lxml
matplotlib >= 2.0.0
MarkupPy >=1.14
numpy >= 1.16
pandas
pycondor
pytz
coloredlogs
scikit-learn
scipy >= 1.2.0
setuptools
pygments
# testing
flake8
pytest >= 3.3.0
pytest-cov >= 2.4.0
