beautifulsoup4
astropy
m2crypto
pykerberos
python-cjson
http://software.ligo.org/lscsoft/source/glue-1.54.1.tar.gz
http://software.ligo.org/lscsoft/source/dqsegdb-1.4.0.tar.gz
https://github.com/ligovirgo/trigfind/archive/v0.3.tar.gz
gwpy>=0.4
