# development
astropy >= 1.2
beautifulsoup4
dqsegdb
gwdatafind
gwpy >= 0.13.0
gwtrigfind
jsmin
lalsuite
libsass
lscsoft-glue >= 2.0.0
lxml
matplotlib >= 2.0.0
MarkupPy >=1.14
numpy >= 1.10
pandas
pycondor
scikit-learn
scipy >= 1.2.0
setuptools
six
pathlib2 ; python_version < '3.6'
pygments
# testing
pytest
coverage
